<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Login Customer</title>
</head>
<body>
<div class="container">
    <form class="form-signin" method="post" action="/auth/login">
        <h2 class="form-signin-heading">Login</h2>
        <p>
            <label for="username">Имя пользователя</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="Имя пользователя" required>
        </p>
        <p>
            <label for="password">Пароль</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Пароль" required>
        </p>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Авторизация</button>
    </form>
</div>

<a href="/registration">Зарегистрироваться</a>
</body>
</html>